<header id="header">
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Angular 2 Sports News</a>
      </h1>
      <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/espn">ESPN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bbc">BBC Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fox Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">NFL News</a>
      </li>
    </ul>
    </div>
   <br>
  </div>
</header>