<header id="header">
  <a class="home-link" href="/">
   <!-- <img class="logo" src="https://i.imgur.com/J303pQ4.png">-->
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Angular 2 Sports News</a>
      </h1>
      <span class="header-nav">
        <a href="">BBC</a>
        <span class="divider">
          |
        </span>
        <a href="">ESPN</a>
        <span class="divider">
          |
        </span>
        <a href="">Fox Sports</a>
        <span class="divider">
          |
        </span>
        <a href="">NFL News</a>
      </span>
    </div>
    <div class="info">
      Built with <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
    </div>
  </div>
</header>